language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"

install:
  - pip install -r requirements-dev.txt
  - pip install .

script:
  - nosetests --with-coverage

after_success:
  - coveralls
